<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h3>以下の内容で送信する</h3>

    <%= form_for(@topic) do |f| %>
    <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
      <%= f.hidden_field :content %>

      <p>投稿内容：<%= @topic.content %></p>
      <%= f.submit "投稿",class: 'btn btn-primary btn-block' %>
    <% end %>

    <!-- submitボタンを押したときのURLとメソッドを指定している -->
    <!-- 投稿を内容が消えないように渡している -->
    <%= form_for(@topic, url: new_topic_path, method: 'get') do |f| %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる", name: 'back', class: 'btn btn-default btn-block'  %>
    <% end %>
  </div>
</div>
