<!DOCTYPE html>
<html>
<head>
  <title>FacebookClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><%= link_to "facebook_clone", root_path %></li>
      <li><%= link_to "top", root_path %></li>
      <li><%= link_to "投稿一覧", topics_path %></li>
      <li><%= link_to "投稿する", new_topic_path %></li>
    </ul>
  </header>


<%= yield %>

</body>
</html>
